$darkBlue: #325575;
$lightBlue: #5B9BD5;
$backgroundLightBlue: #FFC000;
$backgroundDarkBlue: #ED7D31;

$darkPink: #470753;
$lightPink: rgba(184, 85, 187, 0.733);
$backgroundLightPink: #FFC000;
$backgroundDarkPink: #ED7D31;

$darkGreen: #03410d;
$lightGreen: #5B9B;
$backgroundLightGreen: #FFC000;
$backgroundDarkGreen: #ED7D31;