/* #app {
	
} */

#thewholething, #question-form {
	display: inline-block;
	min-width: 469px;
}

#game-header {
	text-align: center;
}

#stats {
	margin-top: 20px;
	float: right;
	text-align: right;
}

#score {
	display: inline-block;
	line-height: 10px;
	border-radius: 3px;
	height: 60px;
	width: 135px;
}

#QandA {
	width: 100%;
	text-align: left;
}

#question-text {
	display: inline-block;
	/* width: 77%; */
	/* min-height: 57px; */
	border-radius: 3px;
	margin: 15px;
	text-align: left;
	font-size: 25px;
}

#question-place {
	display: inline-block;
	width: 100%;
	margin: 10px;
}

/* #answer-form {
	display: inline-block;
	min-height: 57px;
	width: 18%;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
} */

#game-grid {
	border-radius: 6px;
	display: inline-block;
	font-size: 50px;
	margin: 20px;
}

.grid-row {
	display: block;
	margin: 16px 16px 0px 16px;
}

.grid-row:last-child {
	margin-bottom: 16px;
}

.grid-cell {
	display: inline-block;
	margin-right: 16px;
	width: 135px;
	height: 135px;
	line-height: 40px;
	text-align: center;
	background: #71CDC6;
	border-radius: 3px;
}

.grid-cell:last-child {
	margin-right: 0;
}
