@import 'colorConstants';

%shape {
  display: flex;
  width: 100%;
  height: 20%;
  left: 2%;
  border-bottom: 5px solid ;
  transform: perspective(300px) rotateY(15deg);
  &:hover {
    color: white;
    transition: 0.3s;
  }
  -webkit-backface-visibility: hidden;
}

%shape button,
%shape button:active,
%shape button:focus,
%shape button:active:focus,
%shape button:not(:disabled):not(.disabled):active:focus {
  border: 0px;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.shape-blue {
  @extend %shape;
  background-color: $lightBlue;
  border-color: $darkBlue;
  &:hover {
      background-color: $darkBlue;
  }
  button {
    color: $darkBlue;
  }
}

.shape-pink {
  @extend %shape;
  background-color: $lightPink;
  border-color: $darkPink;
  &:hover {
      background-color: $darkPink;
  }
  button {
    color: $darkPink;
  }
}

.shape-green {
  @extend %shape;
  background-color: $lightGreen;
  border-color: $darkGreen;
  &:hover {
      background-color: $darkGreen;
  }
  button {
    color: $darkGreen;
  }
}