$darkBlue: #326275;
$lightBlue: rgb(0, 204, 255);
$backgroundLightBlue: rgb(255, 217, 0);
$backgroundDarkBlue: rgb(237, 149, 49);

$darkPink: #470753;
$lightPink: rgba(184, 85, 187, 0.733);
$backgroundLightPink: #FFC000;
$backgroundDarkPink: #ED7D31;

$darkGreen: #03410d;
$lightGreen: #5B9B;
$backgroundLightGreen: #FFC000;
$backgroundDarkGreen: #ED7D31;