body {
	background: #ECFFED;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#app {
	display: block;
	text-align: center;
}

#thewholething, #question-form {
	display: inline-block;
	min-width: 469px;
}

#game-header {
	text-align:left;
}

.title {
	display: inline-block;
	color: #30505C;
	font-weight: bold;
	font-size: 75px;
	margin: 0;
}

#stats {
	margin-top: 20px;
	float: right;
	text-align: right;
	font-size: 18px;
}

#score {
	display: inline-block;
	text-align: center;
	background: #30505C;
	color: #ECFFED;
	border-radius:3px;
	height: 50px;
	width: 135px;
}

#score p {
	margin: 0px,20px,20px,20px;
}

#QandA {
	width: 100%;
	text-align: left;
}

#question-place {
	display: inline-block;
	width: 77%;
	background: #74B09D;
	min-height: 57px;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
	font-size: 18px;
	color: #ECFFED;
}
#question-place p {
	display: inline-block;
	width: 100%;
	margin-left: 10px;
}

#answer-form {
	display: inline-block;
	text-align: center;
	background: #C8EAC0;
	min-height: 57px;
	width:18%;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	float: right;
}

#game-grid {
	border-radius: 6px;
	background: #74C79D;
	display: inline-block;
	/*color: #30505C;*/
	font-size: 50px;
}

.grid-row {
	display: block;
	margin: 16px 16px 0px 16px;
}

.grid-row:last-child {
	margin-bottom: 16px;
}

.grid-cell {
	display: inline-block;
	margin-right: 16px;
	width: 135px;
	height: 135px;
	text-align: center;
	background: #C8EAC0;
	border-radius:3px;
}

.grid-cell:last-child {
	margin-right: 0;
}

/*.grid-cell p {
    display: table-cell;
    vertical-align: middle;
}*/
