<!DOCTYPE html>
<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
	<!-- <style type="text/css" href="styles.css"></style> -->
</head>
<body>
	<div id="app">

	<div id="game-header">
		<span id="name">{{playerName}}</span>
		<span id="EdGrid">EdGrid</span>
		<span id="game-stats">
			<span>Level: {{level}}</span>
			<span>Score: {{score}}</span>
		</span>
	</div>

	<div id="question-place">
		<h3>Answer this</h3>
		<p id="game-question">{{curQuestion}}</p>
	</div>
	
	<div id="game-grid">
		<h3>Grid status</h3>
		<table id="grid-table">
			<tr v-for="row in gridData">
				<td v-for="val in row">
					{{val}}
				</td>
			</tr>
		</table>
	</div>

	<div id="answer-form">
		<p>Please select your answer:</p>
		<form v-on:submit.prevent="checkAns" >
			<select name="playerAns" v-model="userAns">
				<option v-for="choice in choices" v-bind:value="choice">{{choice}}</option>
			</select>
			<input type="submit">
		</form>
	</div>
	<p id="selected"></p>

	<div id="question-form">
		<h3>New Game</h3>
		<p>Upload the questions file and press Start:</p>
		<form v-on:submit.prevent="startGame">
			rows:
			<select name="rowSize" v-model="rows">
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
			</select>
			cols:
			<select name="colSize" v-model="cols">
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
			</select>
			input file:
			<input type="file" name="qfile" @change="loadFile($event)"> 
			<input type="submit" value="Start">
		</form>
	</div>
	
	</div>

<script type="text/javascript">
	var vm = new Vue({
		el: "#app",
		data: {
			// Header 
			playerName: 'Player1',
			level: 1,
			score: 0,
			// Question details
			curQuestion: '',
			correctAns: 1,
			choices: [1,2,3,4,5,6,7,8,9],
			// Player's answer
			userAns: 1,
			// Game status
			rows: 3,
			cols: 3,
			gridData: [[1,2,3],[4,5,6],[7,8,9]],
			questions: [],
		},
		methods: {
			checkAns: function(event) {
				console.log("Selected answer: " + this.userAns);
			},
			loadFile: function(event) {
				var files = event.target.files || event.dataTransfer.files;
				if (!files.length)
					return;
				this.loadText(files[0]);
			},
			loadText: function(file) {
				var reader = new FileReader();
				var vm = this;
				reader.onload = (e) => {
					this.questions = e.target.result;
				};
				reader.readAsText(file);
			},
			startGame: function(event) {
				console.log("rows: " + this.rows + ", cols: " + this.cols);
				this.questions = this.questions.split('\n');
				console.log(this.questions);
				this.nextQuestion(0);
			},

			// TODO: validate format
			// So far assuming correct file format
			nextQuestion: function(ind) {
				if(this.questions[ind].trim()==='end'){
					// End game
					return;
				}
				var parts = this.questions[ind].split(',');
				this.curQuestion = parts[0];
				this.correctAns = parts[1];
				
				// load choices into the grid
				var k = 2;
				this.gridData = [];
				for(var i = 0; i < this.rows; i++) {
					var newRow = [];
					for(var j = 0; j < this.cols; j++) {
						newRow.push(parts[k++]);
					}
					this.gridData.push(newRow);
				}
			},
		},
	});
</script>

</body>

</html>

