<!DOCTYPE html>
<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>
<body>
	<div id="app">
	<div v-if="inGame">

	<div id="game-header">
		<span id="name">{{playerName}}</span>
		<span id="score">Score: {{score}}</span>
	</div>
	<div class="title">EdGrid</div>

	<div id="question-place">
		<p id="game-question"><b>Q{{qInd}}: </b>{{curQuestion}}</p>
	</div>
	
	<div id="game-grid">
		<!-- <h3>Grid status</h3> -->
		<div class="grid-row" v-for="row in gridData">
			<div class="grid-cell" v-for="val in row">
				<p>{{val}}</p>
			</div>
		</div>
	</div>

	<div id="answer-form">
		<p>Please select your answer:</p>
		<button v-if="trials>=2 || success" v-on:click="nextQuestion">Next</button>
		<form v-else v-on:submit.prevent="checkAns" >
			<select name="playerAns" v-model="userAns">
				<option v-for="choice in choices" v-bind:value="choice">{{choice}}</option>
			</select>
			<input type="submit">
		</form>
	</div>
	</div>

	<div v-else id="question-form">
		<div class="title">EdGrid</div>
		Welcome, <input type="text" name="name" v-model="playerName">
		<h3>New Game</h3>
		<form v-on:submit.prevent="startGame">
			rows:
			<select name="rowSize" v-model="rows">
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
			</select><br>
			cols:
			<select name="colSize" v-model="cols">
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
			</select><br>
			input file:
			<input type="file" name="qfile" @change="loadFile($event)"> <br>
			<input type="submit" value="Start">
		</form>
	</div>
	
	</div>

<script src="script.js"></script>

</body>

</html>

