#question-form form {
	margin-top: 10px;
	background: #74B09D;
	border-radius: 3px;
	text-align: left;
	padding: 1px 20px 20px 20px;
}

select {
    width: 75px;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
    border-color: #ECFFED;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

/*.submit {
	background: #ECFFED;
    border-width: 2px;
    border-color: #ECFFED;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}*/

.submit {
    margin-top: 10px;
    display: inline-block;
    font-size: 15px;
}
